@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: #4318FF;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #E9EDF7;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4318FF;
  border-radius: 10px;
}

.success {
  background-color: #22C55E;
  color: white;
}

.error {
  color: white;
  background-color: #EF4444;
}

.custom-word-break {
  word-break: break-word;
}