/* Firefox */
/* * {
  scrollbar-width: 7px;
  scrollbar-color: #4318FF;
}

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #e9edf7;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4318ff;
  border-radius: 10px;
} */

.success {
  background-color: #22c55e;
  color: white;
}

.error {
  color: white;
  background-color: #ef4444;
}

.custom-word-break {
  word-break: break-word;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.PhoneInputCountrySelectArrow {
  margin: 0 8px;
}

/* Ensure scrollbar is always visible */
/* html {
  overflow-y: scroll;
} */

/* Chrome, Edge, and Safari */
/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #e1e1e1;
  border-radius: 10px;
  border: 3px solid white;
} */
/* 
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  min-height: 100px;
}
*/

/* * {
  scrollbar-width: thin;
  scrollbar-color: #e9edf7;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  min-height: 100px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #e1e1e1;
  border: 3px solid white;
} */