@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  button {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-gray-500 rounded-full;
}

.CSVImporter_FileSelector {
  border: 2px dashed #cccccc;
  height: 233px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CSVImporter_FileSelector span {
  font-weight: 500;
  color: #5c5c5c;
  font-size: 16px;
}


/* Style the vertical scrollbar */
/* -----------------------------------Original Implementation----------------------------- */
/* ::-webkit-scrollbar {
  width: 8.6px;
  height: 8.6px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  background-size: contain;
}

::-webkit-scrollbar-thumb:vertical {
  background: url("/assets/vertical_scrollbar_thumb.svg") no-repeat center;
  position: relative;
  left: 50%;
  transform: translateX(-10%);
}

::-webkit-scrollbar-thumb:horizontal {
  background: url("/assets/scrollbar-thumb.svg") no-repeat center;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}

::-webkit-scrollbar-track {
  background-color: #e1e1e1;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
} */

/* -----------------------------------Border Implementation----------------------------- */
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:vertical {
  border-top: 60px solid rgb(251, 251, 251);
}

::-webkit-scrollbar-thumb:horizontal {
  border-left: 60px solid rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
  background-color: #e1e1e1;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
} */

/* -----------------------------------Simplebar Implementation----------------------------- */

/* .simplebar-scrollbar::before {
  visibility: visible !important;
  opacity: 1 !important;
  width: 50px;
  height: 10px;
  background-color: white !important;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.simplebar-track.simplebar-vertical,
.simplebar-track.simplebar-horizontal {
  background: #e1e1e1 !important;
  border-radius: 8px;
  height: 10px;
}

.simplebar-mask {
  opacity: 1 !important;
} */

/* -----------------------------------Custom CSS Implementation------------------------- */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: #e1e1e1;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #e1e1e1;
  border: 3px solid white;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-thumb:vertical {
  cursor: pointer;
  height: 60px;
  min-height: 60px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-top: 60px solid rgb(245, 245, 245);
  padding-top: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  cursor: pointer;
  width: 60px;
  min-width: 60px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-left: 60px solid rgb(245, 245, 245);
  padding-left: 5px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-y: scroll !important;
}