@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  button {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-gray-500 rounded-full;
}

.CSVImporter_FileSelector {
  border: 2px dashed #cccccc;
  height: 233px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CSVImporter_FileSelector span {
  font-weight: 500;
  color: #5c5c5c;
  font-size: 16px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}


/* Scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #E0E0E0; /* color of the scrollbar itself */
  border-radius: 20px; /* roundness of the scrollbar */
  border: 3px solid white; /* creates padding around the scroll thumb */
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C0C0C0;
}
